<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- leave blank to set automatically on service start -->
    <add key="uuid" value="" />
    <!-- either Workstation or Server -->
    <add key="role" value="" />
    <!-- one time use code to register this node -->
    <add key="registrationCode" value="" />
    <!-- token for communication unique to this node -->
    <add key="communicationToken" value="" />
    <!-- physical location in an office or building -->
    <add key="location" value="" />
  </appSettings>
</configuration>