<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- leave blank to set automatically on service start -->
    <add key="uuid" value="" />
    <!-- either Workstation or Server -->
    <add key="role" value="" />
    <!-- one time use code to register this node -->
    <add key="registrationCode" value="" />
    <!-- token for communication unique to this node -->
    <add key="communicationToken" value="" />
    <!-- physical location in an office or building -->
    <add key="location" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>